/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end */

html {
  background: url(img/noise.png) whitesmoke;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  z-index: 100;
  display: none;
}

#overlay_box {
  display: none;
  position: absolute;
  left: 50%;
  top: 100px;
  margin-left: -150px;
  width: 300px;
  padding: 20px;
  z-index: 1000;
  
  border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  background: whitesmoke;
  background: -moz-linear-gradient(90deg, #f4f4f4 0%, #eeeeee 100%) #cacaca;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f4f4), to(#eeeeee)) #cacaca;
  border: 1px solid #595959;
  -moz-box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4), inset 0 2px 0 #ffffff;
  -webkit-box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4), inset 0 2px 0 #ffffff;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4), inset 0 2px 0 #ffffff;
  border-bottom-color: #232323;
}

#overlay_box .close {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  right: -10px;
  top: -10px;
  background-color: #080808;
  color: #ffffff;
  border: 1px solid #eeeeee;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.inner_wrapper {
  width: 580px;
  margin: auto;
}

header {
  height: 120px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  color: #565656;
  margin-bottom: 10px;
  font-size: .9em;
  text-align: center;
}

h3.tagline {
  font-size: 1.8em;
  color: #101010;
  text-shadow: 0 1px 0 #ffffff;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.8em;
  margin-bottom: 10px;
  font-weight: 200;
}

button {
  cursor: pointer;
}

section {
  margin-bottom: 40px;
}

nav {
  float: right;
  display: none;
}

nav li {
  display: inline-block;
  padding: 4px;
  margin: 20px 10px;
}

nav li.active {
  border-top: 2px solid #f3b54b;
  font-weight: bold;
}

/* @group Landing Page */

.block p {
  color: #6a6a6a;
}

form.email_reg {
  margin: auto;
  display: block;
  width: 310px;
  background-color: rgba(255, 255, 255, 0.57);
  padding: 40px 30px;
  border: 2px solid #ffffff;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

input {
  padding: 6px;
  font-size: 1.2em;
  -webkit-border-radius: 4px  ;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.21);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.21);
  
}

form.email_reg button {
  font-size: 1.1em;
  border: 1px solid #587d52;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(254, 254, 254, 0) 42%, rgba(254, 254, 254, 0.27) 46.9%, rgba(255, 255, 255, 0) 100%) #75c56a;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.08)), color-stop(0.42, rgba(254, 254, 254, 0)), color-stop(0.469, rgba(254, 254, 254, 0.27)), to(rgba(255, 255, 255, 0))) #75c56a;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  padding: 6px;
  color: #000000;
  text-shadow: 0 1px 1px #ffffff;
}

.initiative {
  width: 730px;
  margin: 40px auto;
}

.block {
  width: 240px;
  margin: 25px 30px;
  display: inline-block;
  background-color: #bebebe;
  padding: 20px 30px;
  float: left;
  
  border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  background: whitesmoke;
  background: -moz-linear-gradient(90deg, #f4f4f4 0%, #eeeeee 100%) #cacaca;
  background: -webkit-gradient(linear, left bottom, left top, from(#f4f4f4), to(#eeeeee)) #cacaca;
  border: 1px solid #979797;
  -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.27), inset 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.27), inset 0 1px 0 #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.27), inset 0 1px 0 #ffffff;
  border-bottom-color: #6d6d6d;
}

section#landing {
  display: ;
}

section#enter_info {
  display: none;
}

section#profile {
  display: none;
}

.notification {
  display: none;
}

form.registration_pt2 input {
  display: block;
  width: 200px;
  margin: 8px auto;
}

form.registration_pt2 button {
  width: 212px;
  margin: auto;
  display: block;
  font-size: 1.4em;
  padding: 8px;
  border: 1px solid #587d52;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(254, 254, 254, 0) 42%, rgba(254, 254, 254, 0.27) 46.9%, rgba(255, 255, 255, 0) 100%) #75c56a;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.08)), color-stop(0.42, rgba(254, 254, 254, 0)), color-stop(0.469, rgba(254, 254, 254, 0.27)), to(rgba(255, 255, 255, 0))) #75c56a;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  padding: 6px;
  color: #000000;
  text-shadow: 0 1px 1px #ffffff;
}

/* @end */

/* @group Enter Info Page */

.left {
  float: left;
  width: 100px;
  text-align: center;
}

.right {
  float: left;
}

.number {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  line-height: 60px;
  font-size: 2em;
  border: 1px solid rgba(0, 0, 0, 0.48);
  text-shadow: 0 1px 0 #ffffff;
  margin-top: 105px;
  -moz-box-shadow: inset 0 1px 0 #ffffff, inset 0 4px 20px rgba(0, 0, 0, 0.14), 0 2px 6px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0 1px 0 #ffffff, inset 0 4px 20px rgba(0, 0, 0, 0.14), 0 2px 6px rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 1px 0 #ffffff, inset 0 4px 20px rgba(0, 0, 0, 0.14), 0 2px 6px rgba(0, 0, 0, 0.33);
  background: -moz-linear-gradient(90deg, #ffffff 0%, rgba(211, 211, 211, 0) 100%) rgb(227, 227, 227);
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgba(211, 211, 211, 0))) rgb(227, 227, 227);
}

.number:first-of-type {
  margin-top: 90px;
}

label {
  margin-top: 50px;
  display: block;
  font-size: 1.2em;
  text-shadow: 0 1px 0 #ffffff;
}

textarea.info {
  display: block;
  height: 60px;
  width: 400px;
  margin-top: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999999;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.41);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.41);
  font-size: 1.2em;
  padding: 12px;
  color: #1f1f1f;
  background-color: rgba(255, 255, 255, 0.54);
}

textarea.info:active, textarea.info:focus {
  background-color: rgba(255, 255, 255, 0.63);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.41), 0 0 24px rgba(7, 204, 254, 0.31);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.41), 0 0 24px rgba(7, 204, 254, 0.31);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.41), 0 0 24px rgba(7, 204, 254, 0.31);
  outline: none;
}

.next_btn {
  float: right;
  clear: both;
  margin-top: 40px;
  margin-right: 54px;
  padding: 6px 25px;
  font-size: 1.2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 12px rgba(254, 100, 9, 0.75), inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 12px rgba(254, 100, 9, 0.75), inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 12px rgba(254, 100, 9, 0.75), inset 0 1px 0 #ffffff;
  border: 1px solid #966a49;
  color: #313131;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
  background-color: #ff9447;
}

/* @end */

/* @group Profile Page */

section#profile {
  background-color: #ffffff;
  padding: 20px;
  width: 720px;
  margin: auto;
  border: 1px solid #c4c4c4;
  -moz-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.09);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.09);
}

.portrait {
  float: right;
  height: 200px;
  width: 180px;
  background: url(img/portrait.jpg) no-repeat center center;
}

.personal_info {
  height: 200px;
}

.logo {
  height: 80px;
  width: 280px;
  background: url(img/your_logo.png) no-repeat center center;
  margin-top: 25px;
}

.upload {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 12px;
  border: 2px dashed #d1d1d1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.upload button {
  margin: 10px;
  padding: 4px 8px;
  border: 1px solid #547f49;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.52);
  font-size: .8em;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.14) 0%, rgba(254, 254, 254, 0) 45.2%, rgba(255, 255, 255, 0.21) 50%, rgba(255, 255, 255, 0) 100%) #5ba449;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.14)), color-stop(0.452, rgba(254, 254, 254, 0)), color-stop(0.5, rgba(255, 255, 255, 0.21)), to(rgba(255, 255, 255, 0))) #5ba449;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.62), 0 1px 2px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.62), 0 1px 2px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.62), 0 1px 2px rgba(0, 0, 0, 0.45);
}

.notification {
  position: relative;
  margin: auto;
  width: 720px;
  padding: 40px 20px;
  border: 1px solid #e1911f;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6);
  background: -moz-linear-gradient(90deg, #f0a84d 0%, #e68a10 100%) #ffcaa5;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0a84d), to(#e68a10)) #ffcaa5;
  border-bottom-color: #e68a10;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63);
}

.notification h4 {
  font-size: 1.6em;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c97912;
  padding: 4px 8px;
  border: 1px solid #804d14;
  -moz-box-shadow: -1px 1px 0 rgba(128, 77, 20, 0.16);
  -webkit-box-shadow: -1px 1px 0 rgba(128, 77, 20, 0.16);
  box-shadow: -1px 1px 0 rgba(128, 77, 20, 0.16);
  cursor: pointer;
}

strong {
  font-weight: bold;
}

h5 {
  color: #000000;
  font-size: 1.2em;
  margin-bottom: 12px;
}

h6 {
  margin-bottom: 8px;
  padding-left: 40px;
}

ul.benefits {
  list-style: inside;
  padding-left: 40px;
}

.get_featured {
  width: 300px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.16);
  padding: 10px;
}

.get_featured_btn {
  float: right;
  margin-top: 40px;
}

.get_featured_btn button {
  padding: 12px;
  border: 1px solid #979797;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 20px 90px;
  font-size: 1.6em;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(254, 254, 254, 0.07) 46.3%, rgba(254, 254, 254, 0.79) 49.6%, rgba(255, 255, 255, 0) 100%) #ececec;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.6)), color-stop(0.463, rgba(254, 254, 254, 0.07)), color-stop(0.496, rgba(254, 254, 254, 0.79)), to(rgba(255, 255, 255, 0))) #ececec;
  text-shadow: 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
}

/* @end */